/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

/* "no-title" 클래스가 있는 페이지의 큰 제목을 숨깁니다 */
.no-title {

  /* "members", "publications" 같은 제목 헤더를 숨김 */
  .post-header {
    display: none;
  }

  /* 제목이 사라진 만큼의 여백을 콘텐츠 위에 추가 */
  .post-content {
    margin-top: 2rem; 
  }
}
