/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

// --- custom: logo size ------------------

.site-logo {
  height: 28px;   // 로고 높이 (원하면 24, 32 등으로 조절)
  width: auto;
  display: inline-block;
}

.navbar-brand.title {
  display: flex;
  align-items: center;
}

.navbar-brand.title .site-logo {
  margin-right: 0.4rem;  // 로고와 텍스트 사이 간격
}
